@model DishDash.Models.MenuModel
@{
    ViewBag.Title = "menu";
    Layout = null;
}

<script src="https://unpkg.com/idb/build/iife/index-min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js"></script>
<link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link rel="shortcut icon" href="~/Content/index_img/favicon.ico" type="image/x-icon">
<link href="~/Content/menu_style.css" rel="stylesheet" />
<link href="~/Content/menu_paystyle.css" rel="stylesheet" />

<div class="hide-print flex flex-row h-screen antialiased text-blue-gray-800">
    <!-- left sidebar -->
    <div class="flex flex-row w-auto flex-shrink-0 pl-4 pr-2 py-10">
        <div class="left-sidebar">
            <div class="left-sidebar-category">
                <a href="@Url.Action("Index", "Home")" class="left-sidebar-link">
                    <img src="~/Content/index_img/favicon.png" alt="logo-icon" class="left-sidebar-category-image" />
                </a>
                <div class="category-name">
                    <h3 style="font-weight: 600; font-size: 1.5rem;">Home</h3>
                </div>
            </div>
            <div class="left-sidebar-category" onclick="showAllProducts()">
                <a href="@Url.Action("Menu", "Home")" class="left-sidebar-link">
                    <img src="~/Content/menu_img/bibimbap.png" alt="All Products">
                    <div class="category-name">
                        <h3 style="font-weight: 600; font-size: 1.5rem;">Show All</h3>
                    </div>
                </a>
            </div>
            @if (Model != null && Model.Categories != null && Model.Categories.Any())
            {
                foreach (var category in Model.Categories)
                {
                    <div class="left-sidebar-category" >
                        <a href="@Url.Action("Menu", "Home", new { categoryId = category.id })" class="left-sidebar-link">
                            <img src="data:image;base64,@Convert.ToBase64String(category.image)" class="left-sidebar-category-image" />

                            <div class="category-name">
                                <h3 style="font-weight: 600; font-size: 1.5rem;">@category.title</h3>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
    <div class="flex-grow flex">
        <div class="flex flex-col bg-blue-gray-50 h-full w-full py-4">
            <div class="flex px-2 h-20 flex-row relative">
                <div class="absolute left-5 top-3 px-3 py-3 rounded-full bg-cyan-500 text-white" style="background-color: #FEB100;">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>
                </div>
                <input id="searchInput" type="text"
                       class="bg-white rounded-3xl shadow text-2xl font-bold full w-full h-35 py-4 pl-16 transition-shadow focus:shadow-2xl focus:outline-none"
                       placeholder="Search food"
                       x-model="keyword" />
            </div>

            <div class="h-full overflow-hidden mt-4">
                <div class="h-full overflow-y-auto px-2">
                    <main class="w-full overflow-y-auto">
                        <div class="px-10 grid grid-cols-4 gap-4">
                            @if (Model != null && Model.Products != null && Model.Products.Any())
                            {
                                foreach (var product in Model.Products)
                                {
                                    <a href="@Url.Action("AddToCart", "Home", new { productId = product.id })"  class="Prodct">
                                        <div class="col-span-4 sm:col-span-4 md:col-span-2 lg:col-span-1 xl:col-span-1 flex flex-col items-center" >
                                            <div class="productImage">
                                                <img src="data:image;base64,@Convert.ToBase64String(product.image)" />
                                            </div>
                                            <div class="bg-white shadow-lg rounded-lg -mt-4 w-64">
                                                <div class="py-5 px-5">
                                                    <span class="font-bold text-gray-800 text-2xl">@product.title</span>
                                                    <div class="flex items-center justify-between">
                                                        <div class="text-2xl text-red-600 font-bold">
                                                            $ @product.price
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </a>
                                }
                            }
                        </div>
                    </main>
                </div>
            </div>
        </div>
        <div class="w-5/12 flex flex-col bg-blue-gray-50 h-full bg-white pr-4 pl-2 py-4">
            <div class="bg-white rounded-3xl flex flex-col h-full shadow">

                @if (Model.AddCartProduct != null && Model.AddCartProduct.Any())
                {
                <div x-show="cart.length > 0" class="flex-1 flex flex-col overflow-auto">
                    <div class="h-25 text-center flex justify-center">
                        <div class="pl-8 text-left text-2xl py-4 relative">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-10 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
                            </svg>
                            <div x-show="getItemsCount() > 0" class="text-center absolute bg-cyan-500 text-white w-5 h-5 text-xs p-0 leading-5 rounded-full -right-2 top-3" x-text="getItemsCount()" style="background-color: rgb(254, 177, 0);">@Model.AddCartProduct.Count()</div>
                        </div>
                        <div class="flex-grow px-8 text-right text-lg py-4 relative">
                            <a href="@Url.Action("DeleteAllCartItems","Home")" class="text-blue-gray-300 hover:text-pink-500 focus:outline-none">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    @foreach (var item in Model.AddCartProduct)
                    {
                    <div class="select-none mb-3 ml-4 mr-4 bg-blue-gray-50 rounded-lg w-full text-blue-gray-600 py-2 px-2 flex justify-center">
                        <!-- Use item properties dynamically -->
                        <img src="data:image;base64,@Convert.ToBase64String(item.image)" alt="" class="rounded-lg h-20 w-20 bg-white shadow mr-2 mt-2 ml-2" >
                        <div class="flex-grow">
                            <h4 class="text-2xl mt-2" style="font-weight:600">@item.Name</h4>
                            <p class="text-2xl block" style="font-weight:600">@String.Format("Rs. {0}", item.Price)</p>
                        </div>
                        <div class="py-2">
                            <div class="w-40 grid grid-cols-4 gap-2 ml-2">
                                <a href="@Url.Action("UpdateCartItem", "Home", new { productId = item.ProductId, quantityChange = -1 })" class="rounded-lg text-center py-1 text-white bg-blue-gray-600 hover:bg-blue-gray-700 focus:outline-none"  style="background-color: #FEB100">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-8 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H4"></path>
                                    </svg>
                                </a>
                                <p class="qualityNum">@item.QuantityInCart</p>
                                <a href="@Url.Action("UpdateCartItem", "Home", new { productId = item.ProductId, quantityChange = 1 })" class="rounded-lg text-center py-1 text-white bg-blue-gray-600 hover:bg-blue-gray-700 focus:outline-none"  style="background-color: #FEB100">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-9 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                    </svg>
                                </a>
                                    <p class="qualityNum">@item.finalAmount</p>
                            </div>
                        </div>
                    </div>
                                    }
                </div>
                }
                else
                {
                    <div x-show="cart.length === 0" class="flex-1 w-full p-4 opacity-25 select-none flex flex-col flex-wrap content-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-16 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                        </svg>
                        <p>
                            CART EMPTY
                        </p>
                    </div>
                }


                <div class="select-none h-auto w-full text-center pt-3 pb-4 px-4">
                    <div class="flex mb-3 text-lg font-semibold text-blue-gray-700">
                        <div class="text-xl">TOTAL</div>
                        <div class="text-right w-full text-xl" x-text="priceFormat(getTotalPrice())">Rs. @ViewBag.TotalCartAmount</div>
                    </div>
                    @if(ViewBag.TotalCartAmount > 0)
                    {
                <a href="@Url.Action("userDetails", "Home")" class="menuSubmit"
                   style="background-color: #FEB100; border-radius: 1rem; font-size: 1.5rem; display: inherit; padding-top: 0.75rem; padding-bottom: 0.75rem;">
                    SUBMIT
                </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@*<div id="print-area" class="print-area"></div>*@

@*<div x-show="isShowModalReceipt"
         class="fixed w-full h-screen left-0 top-0 z-10 flex flex-wrap justify-center content-center p-24">
        <div x-show="isShowModalReceipt"
             class="fixed glass w-full h-screen left-0 top-0 z-0" x-on:click="closeModalReceipt()"
             x-transition:enter="transition ease-out duration-100"
             x-transition:enter-start="opacity-0"
             x-transition:enter-end="opacity-100"
             x-transition:leave="transition ease-in duration-100"
             x-transition:leave-start="opacity-100"
             x-transition:leave-end="opacity-0"></div>
        <div x-show="isShowModalReceipt"
             class="w-96 rounded-3xl bg-white shadow-xl overflow-hidden z-10"
             x-transition:enter="transition ease-out duration-100"
             x-transition:enter-start="opacity-0 transform scale-90"
             x-transition:enter-end="opacity-100 transform scale-100"
             x-transition:leave="transition ease-in duration-100"
             x-transition:leave-start="opacity-100 transform scale-100"
             x-transition:leave-end="opacity-0 transform scale-90">
            <div id="receipt-content" class="text-left w-full text-sm p-6 overflow-auto">
                <div class="text-center">
                    <img src="favicon.png" alt="Tailwind POS" class="mb-3 w-8 h-8 inline-block">
                    <h2 class="text-xl font-semibold">DisDash </h2>
                    <p>Restaurant & Cafe </p>
                </div>
                <div class="flex mt-4 text-xs">
                    <div class="flex-grow">No: <span x-text="receiptNo"></span></div>
                    <div x-text="receiptDate"></div>
                </div>
                <hr class="my-2">
                <div>
                    <table class="w-full text-xs">
                        <thead>
                            <tr>
                                <th class="py-1 w-1/12 text-center">#</th>
                                <th class="py-1 text-left">Item</th>
                                <th class="py-1 w-2/12 text-center">Qty</th>
                                <th class="py-1 w-3/12 text-right">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template x-for="(item, index) in cart" :key="item">
                                <tr>
                                    <td class="py-2 text-center" x-text="index+1"></td>
                                    <td class="py-2 text-left">
                                        <span x-text="item.name"></span>
                                        <br />
                                        <small x-text="priceFormat(item.price)"></small>
                                    </td>
                                    <td class="py-2 text-center" x-text="item.qty"></td>
                                    <td class="py-2 text-right" x-text="priceFormat(item.qty * item.price)"></td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
                <hr class="my-2">
                <div>
                    <div class="flex font-semibold">
                        <div class="flex-grow">TOTAL</div>
                        <div x-text="priceFormat(getTotalPrice())"></div>
                    </div>
                    <div class="flex text-xs font-semibold">
                        <div class="flex-grow">PAY AMOUNT</div>
                        <div x-text="priceFormat(cash)"></div>
                    </div>
                    <hr class="my-2">
                    <div class="flex text-xs font-semibold">
                        <div class="flex-grow">CHANGE</div>
                        <div x-text="priceFormat(change)"></div>
                    </div>
                </div>
            </div>
            <div class="p-4 w-full">
                <button class="bg-cyan-500 text-white text-lg px-4 py-3 rounded-2xl w-full focus:outline-none" style="background-color: #FEB100;" x-on:click="printAndProceed()">PROCEED</button>
            </div>
        </div>
    </div>*@